@using Mod03_ChelasMovies.WebApp

@model Mod03_ChelasMovies.Rep.Helpers.Collections.IPagedList<Mod03_ChelasMovies.DomainModel.Movie>

@{
    ViewBag.Title = "Index";
}

<fieldset>
@using (Html.BeginForm("Index", "Movies", FormMethod.Get))
{
    foreach (var prop in typeof(Mod03_ChelasMovies.DomainModel.Movie).GetProperties())
    {
        var attrs =  prop.GetCustomAttributes(typeof(Mod03_ChelasMovies.DomainModel.SearchableAttribute), false);
        if (attrs.Length == 1)
        {
            <div>
                <span class="search-label">@prop.Name</span>
                <span class="search-field">@Html.Editor("search_" + prop.Name)</span>
            </div>
        }
    }
    <div>
        @if (Request.IsAuthenticated)
        {
            <span>
                @Html.CheckBox("search_user")
            </span>
        }
        <input type="submit" value="Filter" />
    </div>
}
</fieldset>

<table>
    <tr>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>
            @Html.HearderLink("Title")
        </th>
        <th>
            @Html.HearderLink("Year")
        </th>
        <th>
            @Html.HearderLink("Genre")
        </th>
        <th>
            @Html.HearderLink("Director")
        </th>
        <th>
            Actors
        </th>
        <th>
            Image
        </th>
        <th>
            Runtime
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.ID })
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
        <td>
            @item.Title
        </td>
        <td>
            @item.Year
        </td>
        <td>
            @item.Genre
        </td>
        <td>
            @item.Director
        </td>
        <td>
            @item.Actors
        </td>
        <td>
            <div class="display-image-thumb">@Html.Image(@item.Image, true)</div>
        </td>
        <td>
            @item.Runtime
        </td>
    </tr>
}
</table>

@Html.Partial("_Navigation")

<div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
</div>