@model ICollection<Mod03_ChelasMovies.DomainModel.Comment>
<fieldset>
    <legend>Comments</legend>
    @foreach (var c in Model)
    {
        <div class="display-label">
            Description</div>
        <div class="display-field">@c.Description</div>

        <div class="display-label">
            Rating</div>
        <div class="display-field">@c.Rating</div>
        
        using (Html.BeginForm("DeleteComment", "Movies"))
        {
            @Html.Hidden("movieId", @c.MovieID)
            @Html.Hidden("commentId", @c.ID)
        <p>
            <input type="submit" value="Delete Comment" />
        @*@Html.ActionLink("Delete Comment", "DeleteComment", new { movieId = c.MovieID, commentId = c.ID })*@
        </p>
        }
    }
</fieldset>
