@using Mod03_ChelasMovies.WebApp
@model Mod03_ChelasMovies.DomainModel.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@Html.Partial("_MovieDetails")

@Html.Partial("Comments", Model.Comments)

@Html.ActionLink("Add Comment", "Create", "Comments", new { movieId=Model.ID }, null)

<p>
    @Html.ActionLink("Edit Movie", "Edit", new { id = Model.ID })
</p>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

